footer{
    display:  flex;
    background: black;
    height: 120px;

    .main{
      // max-width: 1500px;
      margin: 25px 150px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    

      .icons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
  
        a {
          color: $orange;
        }
    }
    p{
      @include text-style;
      color: $grey-text;
    }

    }

    }
