@media (max-width: 760px){

// HEADER

header{

  a{
    z-index: 100;
  }

    img{
      margin-left: 50px;
      width: 80px;
    }

  nav{
    margin-right: 50px;

    .links{
      margin-right: 0px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      position: absolute;
      align-items: center;
      top: 70px;
      gap: 10px;
      left: 0;
      right: 0;
      background: rgb(25, 25, 25);
      transform: translateY(-150%);
      transition: 0.3s;

    }

    .links.absolute {
      opacity: 1;
      transform: translateY(0%);
      transition: 0.3s;
  }

    a{
      display: flex;
      flex-direction: column;
    }

    #burger{
      display: block;
      cursor: pointer;
      transition: 0.3s;
      z-index: 2;
    }
  
  }
}

// INTRO MEDIA  SECTION 2

#intro{  

    .main{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 50px;
        
      article{
        width: auto;
        justify-content: center;
        align-items: center;
  
          img{
            display: none;
        }
    }
    
    .tryIt{
      width: 280px;
      height: 450px;

      h3{
        font-size: 1em;
      }

      form{
        h5{
          font-size: 0.95em;
        }
       }
     }
    }
  }

#social{
        
  .main{
    max-width: 1500px;
    margin: 30px;
    display: flex;
    justify-content: space-between;

  article{
    max-width: 500px;
    
    p{
      display: none; //MEDIA
    }
  }
  .icons{
    margin-left: 20px;
  }
  }

}

#features{
    .main{
      flex-direction: column;
      margin: 50px;
  
      .tabs{
        flex-direction: row;
        gap: 10px;

          button{
            height: 40px;
            width: 80px;

            p{
                transform: rotate(0deg);
              }
          }
      }
  
        .pics{
          gap: 5px;
      }
    }
  }

#about{
    min-height: 500px;
  
    .main{
      margin: 20px;
          
      img{
        display: none;
      }
  
      article{
        margin: 20px;    
        
        hr{
          width: 80%;
        }      
      }
    } 
  }

  #about-awesome{
    margin: 40px;
      
    hr{
      width: 50%;
    }
  
    .benefits{
      flex-direction: column;
      gap: 20px;
    }
  }


  #pricing{
    padding: 50px;
    text-align: center;
  
    h1{
      @include heading-white()
    }
  
    hr{
      width: 200px;
    }
    
    .pricelist{
      flex-direction: column;
      align-items: center;
      margin: 0px;
    }
  }


  #reviews{
  padding: 50px;
  
    h1{
      text-align: center;
    }

    hr{
    width: 200px;
    }
    
    .swiper {
      width: 250px;
      height: 670px;
    }
  
    .slide{
      flex-direction: column;
      gap: 30px;
      align-items: center;
  
      .feedback-1{
        width: 235px;
        
        p{
        font-size: 0.8em;
        
          &::after{
            content: "";
            border: 10px solid transparent;
            border-top-color: $blue;
          }
        }
        .person{
          display: flex;
          align-items: center;
          margin-top: 15px;
    
          img{
            width: 50px;
            height: 50px;
        }
      }
    }
  }
}

  #contact{
    background: $orange;
    min-height: 480px;
    padding: 50px;

      p{
        text-align: center
      }

      form{
        width: 280px;
  
        #field{
          width: 230px;
        }
  
        .persontype{
          display: flex;
          gap: 10px;
      }
  }
  }

  footer{
      .main{
        margin: 50px;
        gap: 10px;
        flex-direction: column;    
      }

      p{
        font-size: 0.7em;
      }

    }

}


//   BAIGIASI PIRMA MEDIA




@media (min-width: 759px) and (max-width: 1100px){
    
}