#about-awesome{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 70px 150px;
  
    h1{
      @include heading-black();
    }
    
    hr{
      width: 60px;
      border: none;
      height: 2px;
      background: $orange;
    }

    p{
      @include text-style();
      color: $grey-text;
    }
  
    .benefits{
      display: flex;
      gap: 50px;
      justify-content: center;
      margin-top: 30px;
  
      .benefit{
        width: 250px;
        display: flex;
        flex-direction: column;
        gap: 20px;
  
        p{
          @include text-style();
          color: $grey-text;
        }
  
        .icon{
          display: flex;
          justify-content: center;
  
          i{
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $orange;
            border: 1px solid $orange;
            border-radius: 100%;
          }
        }
  
        h4{
          @include text-names()
        }
      }
    }
  }