#reviews{
    @include flex-colum();
    min-height: 600px;
    gap: 30px;
  
    h1{
      @include heading-black();
    }
  
    hr{
      @include hr-style();
      background: $blue;
    }
    
    .swiper {
      width: 1100px;
      height: 350px;
    }
    .swiper-pagination-bullet {
      background-color: white;
      border: 1px solid $orange;
      opacity: 1;
      margin: 10px !important;
    }
  
    .swiper-pagination-bullet-active {
      background-color: $orange;
    }
  
    .slide{
      display: flex;
      justify-content: center;
      gap: 100px;
      align-items: end;
  
      .feedback-1{
        width: 270px;
        
        p{
          background: $blue;
          padding: 20px;
          color: white;
          border-radius: 8px;
          position: relative;
        
  
          &::after{
            content: "";
            width: 0px;
            height: 0px;
            border: 15px solid transparent;
            border-top-color: $blue;
            left: 20px;
            top: 100%;
            background: none;
            position: absolute;
          }
        }
        .person{
          display: flex;
          align-items: center;
          margin-top: 25px;
    
          img{
            width: 70px;
            height: 70px;
            object-fit: cover;
            border-radius: 100%;
            object-position: center;
          }
          h4{
            margin-left: 10px;
           @include text-names();
           
           span{
            @include text-style()
          }
        }
      }
  
    }
  }
  
  }