@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

:root {
  --color-green: #41D395;
  --color-orange: #e27866;
  --color-blue: #6696E2;
  --color-light-green: #8edcbc;
  --color-heading-black: #1C1C1C;
  --color-text-black: #333333;
  --color-text-grey: #86878B;
}

@mixin heading-black {
  color: var(--color-heading-black);
  font-size: 1.5em;
  font-weight: 500;
}

@mixin heading-white {
  color: white;
  font-size: 1.5em;
  font-weight: 500;
}

@mixin text-style {
  font-weight: 300;
  font-size: 0.8em;
}

@mixin text-names{
  font-weight: 400;
  font-size: 1.1em;
}

@mixin flex-colum{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

@mixin hr-style{
  border: none;
  width: 50px;
  height: 2px;
}


@import '1-header';
@import '2-intro';
@import '3-social';
@import '4-features';
@import '5-about';
@import '6-about-awesome';
@import '7-pricing';
@import '8-reviews';
@import '9-contact';
@import '10-footer';
@import '11-media';


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: montserrat;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

// JAVA Animations
    .articlesAnimation{
      opacity: 1 !important;
      transform: translateY(0);
      transition: 0.3s;
     }
    
     .selected{
      background: var(--color-orange) !important;
      transition: 0.3s;
    }